{% extends 'base.html' %} {% block content %}

<h2>AI Cover Letter Generator</h2>

<p><strong>CV Owner:</strong> {{ cv.full_name }}</p>

<hr />

<form method="POST">
  {% csrf_token %}

  <div class="mb-3">
    <label><strong>Paste Job Description</strong></label>
    <textarea name="job_description" class="form-control" rows="6"></textarea>
  </div>

  <button type="submit" class="btn btn-success">Generate Cover Letter</button>
</form>

<hr />

{% if cover_letter %}

<h4>Generated Cover Letter</h4>

<div class="card p-3">
  <pre style="white-space: pre-wrap">{{ cover_letter }}</pre>
</div>

{% endif %} {% endblock %}
