{% extends 'base.html' %} {% block content %}

<h2>AI CV Improvement</h2>

<p><strong>CV Owner:</strong> {{ cv.full_name }}</p>

<hr />

{% if improved_cv %}

<h4>Improved CV (AI Result)</h4>

<div class="card p-3">
  <pre style="white-space: pre-wrap">{{ improved_cv }}</pre>
</div>

<a href="{% url 'dashboard' %}" class="btn btn-primary mt-3">
  Back to Dashboard
</a>

{% else %}

<p>No AI output yet. Click improve from dashboard.</p>

<a href="{% url 'dashboard' %}" class="btn btn-secondary"> Go Back </a>

{% endif %} {% endblock %}
